.text-red-500 {
  color: #ef4444;
}

.text-green-500 {
  color: #22c55e;
}

.text-gray-500 {
  color: #6b7280;
}
.bg-red-500 {
  background-color: #ef4444;
}

.bg-red-400 {
  background-color: #f87171;
}

.bg-red-300 {
  background-color: #fca5a5;
}

.bg-red-200 {
  background-color: #fecaca;
}

.bg-green-200 {
  background-color: #bbf7d0;
}

.bg-green-300 {
  background-color: #86efac;
}

.bg-green-400 {
  background-color: #4ade80;
}

.bg-green-500 {
  background-color: #22c55e;
}

.bg-gray-500 {
  background-color: #6b7280;
}
