.claim {
  cursor: pointer;
}

.text-red-500 {
  color: #ef4444;
}

.text-green-500 {
  color: #22c55e;
}

.text-gray-500 {
  color: #6b7280;
}

.bg-red-500 {
  border-bottom: 3px solid #ef4444;
}

.bg-red-400 {
  border-bottom: 3px solid #f87171;
}

.bg-red-300 {
  border-bottom: 3px solid #fca5a5;
}

.bg-red-200 {
  border-bottom: 3px solid #fecaca;
}

.bg-green-200 {
  border-bottom: 3px solid #bbf7d0;
}

.bg-green-300 {
  border-bottom: 3px solid #86efac;
}

.bg-green-400 {
  border-bottom: 3px solid #4ade80;
}

.bg-green-500 {
  border-bottom: 3px solid #22c55e;
}

.bg-gray-500 {
  border-bottom: 3px solid #6b7280;
}
