@linkColor: #145dd5;

.mr-auto {
  margin: 2em 0;
}

.ui.form {
  margin-top: 2em;
}

.sources-title {
  display: flex;
}

.source {
  margin: 1em 0;
  font-size: 14px;
}

.ui.basic.button.text-link {
  color: @linkColor !important;
  font-size: 13px;
  font-weight: bold;

  &:hover {
    border: none;
    background: transparent !important;
    box-shadow: none;
    color: @linkColor !important;
  }
}
